# Default reviewer for the entire repository
* @SchaRodri

# Frontend code Example
/frontend/ @mh9451450-web

# Backend code Example
/backend/ @HegLev3

# GitHub workflows Example
/.github/ @SchaRodri
